<div class="container_cambio">
    <div fxFlex fxFlexOffset="20px" class="form-size">
      <div class="ttitle1">
        <p>Realizar Cambio</p>
      </div>
      <div class="subtitlede1">
        <p>Selecciones las monedas</p>
      </div >
      <form novalidate [formGroup]="feedbackForm" class="formulario">
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="valor"  type="text">
          </mat-form-field>
        </p>
        <table class="form-size">
          <label>              </label>
            <mat-select placeholder="BTC" formControlName="typesi" >
              <mat-option *ngFor="let item of Typesi" [value]="item">
              {{ item }}
              </mat-option>
            </mat-select>
            <br>
            <mat-select placeholder="USD" formControlName="typeso" >
              <mat-option *ngFor="let itemb of Typesi" [value]="itemb">
              {{ itemb }}
              </mat-option>
            </mat-select>
        </table>
        <p>
          <mat-form-field class="half-width">
            <span formControlName="calculo"  type="text"> {{calculo}}</span>
          </mat-form-field>
        </p>
      </form>
    </div>
  </div>