

.container_cambio{
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.half-width{
    width: 20%;
    //text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.lab{
    margin: 0 auto;
    //text-align: center;
}

.ttitle1{
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    color: black;
}

.subtitlede1{
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    color:gray;
}