/* You can add global styles to this file, and also import other style files */

.mat-tab-group {
    margin-bottom: 48px;
}
body {
    background-color: #ecf4fc;
}

.Mbox {
    height: 85%;
    width: 85%;
}

.boxE{
    height: 1000px;
    width: 95%;
    background-color: white;
    margin-top: 0px;
    margin : 0 auto;
    //margin: 16px;
    padding-top: 120px;
}

.navi{
    margin-left: auto;
    margin-right: auto;
    padding-left: 38%;
    font-family: 'Roboto', sans-serif;
}

.formulario {
    //padding-left: 47%;

    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.container_cambio{
    padding-left: 40%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.Pbox{
    //display: flex;
    align-items: center;
    justify-content: center;
    //position: fixed;
    top: 50px;
    margin-top: 50px;
    padding: 16px;
    border-radius: 8px;
    //border-color: gray;
    //border-width: 20px;
    //box-shadow: 5px 5px;
    background-color: white;
    border: 2px solid gray;
    }

.immg {
    text-align: center;
    width: 95%;
    margin-top: 550px;
    bottom: 0;
    width: 100%;
}
.box{
    margin : 0 auto;
}