
<div class="example-container mat-elevation-z8"> 
    <table mat-table [dataSource]="monedas"> 
  
      <!-- Position Column -->
      <ng-container matColumnDef="name" > 
        <th class="conttable hta" mat-header-cell *matHeaderCellDef> Nombre </th> 
        <td class="conttable" mat-cell *matCellDef="let element"> {{element.name}} </td> 
      </ng-container> 
  
      <!-- Name Column -->
      <ng-container matColumnDef="precio" > 
        <th class="conttable hta" mat-header-cell *matHeaderCellDef> Precio </th> 
        <td class="conttable prec" mat-cell *matCellDef="let element" > {{element.precio}} </td> 
      </ng-container> 
  
      <!-- Weight Column --> 
      <ng-container matColumnDef="criptomoneda"> 
        <th class="conttable hta" mat-header-cell *matHeaderCellDef> Criptomoneda </th> 
        <td class="conttable crip" mat-cell *matCellDef="let element"><i class="fas fa-circle"></i> {{element.criptomoneda}} </td> 
      </ng-container> 
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="convertir"> 
        <th class="conttable hta" mat-header-cell *matHeaderCellDef> Convertir </th> 
        <td class="conttable" mat-cell *matCellDef="let element"> <span><img src="/assets/shuffle.png" alt="shuffle" height=30 width=30 routerLink="/cambiodemoneda"></span> </td> 
      </ng-container> 
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr> 
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
    </table> 
</div> 