//@import '../node_modules/font-awesome/scss/font-awesome';
//$fa-font-path : '../node_modules/font-awesome/fonts';
//@import '_variables';
//@import '../node_modules/font-awesome/scss/font-awesome';
.example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }


.conttable{
    align-items: center;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
        //font-weight: lighter;
}

.prec{
  text-decoration-color: #0474fc;
  font-weight: bold ;
}

.crip{
  text-decoration-color: #0474fc;
  font-weight: bold ;
}

.hta{
  color: gray
  ;
}